---
title: 如何：在負載測試結果中建立自訂圖形
description: 瞭解如何設計圖形，在負載測試執行時或執行完成之後，顯示有關負載測試結果的特定資訊。
ms.custom: SEO-VS-2020
ms.date: 10/19/2016
ms.topic: how-to
helpviewer_keywords:
- load test results graphs, creating
- load test results graphs
ms.assetid: 17fcafce-76f9-4411-9389-6e5376eab236
author: mikejo5000
ms.author: mikejo
manager: jmartens
ms.openlocfilehash: bcef8b73eaf4709e8e636d4719784606019bdcbf
ms.sourcegitcommit: ae6d47b09a439cd0e13180f5e89510e3e347fd47
ms.translationtype: MT
ms.contentlocale: zh-TW
ms.lasthandoff: 02/08/2021
ms.locfileid: "99937585"
---
# <a name="how-to-create-custom-graphs-in-load-test-results"></a>如何：在負載測試結果中建立自訂圖表

您可以設計用來顯示有關負載測試結果的特定資訊的圖形。 藉由指定圖形要顯示的負載測試計數器，即可以設計自訂圖形。

您可以在執行負載測試時或是完成執行後，執行下列程序。

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

## <a name="to-create-a-custom-load-test-results-graph"></a>若要建立自訂負載測試結果圖形

1. 在 [ **負載測試** ] 工具列上，選擇 [ **加入新圖形]**。

     \- 或 -

     在 [ **負載測試分析器**] 上，以滑鼠右鍵按一下 [ **計數器** ] 面板或圖形中的，然後選取 [ **加入圖形]**。

     [輸入圖形名稱] 對話方塊隨即顯示。

2. 在 [圖形名稱] 底下，鍵入圖形的名稱，然後選擇 [確定]。

     新的圖表就會出現在 [負載測試分析器] 中。 圖形會出現在目前選取的圖形面板中，並取代該面板中原先顯示的圖形。

3. 加入計數器即可自訂新圖形。 如需詳細資訊，請參閱 [如何：在圖形上新增和刪除計數器](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md)。

## <a name="see-also"></a>另請參閱

- [在圖表檢視中分析負載測試結果](../test/analyze-load-test-results-in-the-graphs-view.md)
- [如何：在圖形上新增和刪除計數器](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md)
